<h1>Listing photos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.name %></td>
    <td>
      <% if photo.image_processing? %>
        <%= image_tag "spinner_32.gif" %>
      <% else %>
        <%= image_tag photo.image_url(:thumb).to_s %>
      <% end %>
    </td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
